<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>WebURLDemo</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
  		<servlet-name>FullNameServlet</servlet-name>
  		<servlet-class>edu.jspiders.weburldemo.DisplayFullNameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  		<servlet-name>FullNameServlet</servlet-name>
  		<url-pattern>/fullName</url-pattern>
  </servlet-mapping>
  
  <servlet>
  		<servlet-name>addServlet</servlet-name>
  		<servlet-class>edu.jspiders.weburldemo.AddtionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  		<servlet-name>addServlet</servlet-name>
  		<url-pattern>/add</url-pattern>
  </servlet-mapping>
  
  <servlet>
  		<servlet-name>servlet1</servlet-name>
  		<servlet-class>edu.jspiders.weburldemo.MyServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
  		<servlet-name>servlet1</servlet-name>
  		<url-pattern>/s1</url-pattern>
  </servlet-mapping>
  
  <servlet>
  		<servlet-name>own</servlet-name>
  		<servlet-class>edu.jspiders.weburldemo.MyOwnServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  		<servlet-name>own</servlet-name>
  		<url-pattern>/own</url-pattern>
  </servlet-mapping>
  
  <servlet>
  		<servlet-name>own2</servlet-name>
  		<servlet-class>edu.jspiders.weburldemo.MyOwnServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
  		<servlet-name>own2</servlet-name>
  		<url-pattern>/own2</url-pattern>
  </servlet-mapping>
  
</web-app>