<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>ContextAndConfigDemo</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  
  <servlet>
  		<servlet-name>Servlet1</servlet-name>
  		<servlet-class>edu.jspiders.contextconfigdemo.MyServlet1</servlet-class>
  		<init-param>
  			<param-name>animal</param-name>
  			<param-value>Lion</param-value>
  		</init-param>
  </servlet>
  <servlet-mapping>
  		<servlet-name>Servlet1</servlet-name>
  		<url-pattern>/s1</url-pattern>
  </servlet-mapping>
  
  <servlet>
  		<servlet-name>Servlet2</servlet-name>
  		<servlet-class>edu.jspiders.contextconfigdemo.MyServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
  		<servlet-name>Servlet2</servlet-name>
  		<url-pattern>/s2</url-pattern>
  </servlet-mapping>
  
  <servlet>
  		<servlet-name>Servlet3</servlet-name>
  		<servlet-class>edu.jspiders.contextconfigdemo.MyServlet3</servlet-class>
  </servlet>
  <servlet-mapping>
  		<servlet-name>Servlet3</servlet-name>
  		<url-pattern>/s3</url-pattern>
  </servlet-mapping>
  
  <servlet>
  		<servlet-name>Servlet4</servlet-name>
  		<servlet-class>edu.jspiders.contextconfigdemo.MyServlet4</servlet-class>
  </servlet>
  <servlet-mapping>
  		<servlet-name>Servlet4</servlet-name>
  		<url-pattern>/s4</url-pattern>
  </servlet-mapping>
  
  <context-param>
  		<param-name>moviename</param-name>
  		<param-value>LEGEND</param-value>
  </context-param>
  
</web-app>